* {
	font-family: Lato, sans-serif;
	font-size: 15.5px;
}

body{
	background-image: url(img/background.jpg);
	background-color: #c7b39b;
}

h1{
	font-size: 60px;
	text-align: center;
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 1px;
	max-width: 700px;
	height: 500px;
}

.background_of_todolist{
	border-radius: 15px;
	position: relative;
	box-sizing: border-box;
	min-width: 340px;
	max-width: 400px;
	width: 400px;
	height: 460px;
	background-color: none;
	margin-top: 20px;
	margin-bottom: 20px;
}


.input-style{
	color: #fff;
	box-sizing: border-box;
	padding: 0 65px 0 20px;
	width: 100%;
	height: 50px;
	float: left;
	background: black;					
	border-radius: 15px 15px 0px 0;
	border: 1px;
	box-shadow: none;
	outline: none;
	appearance: none;
}

.input-style::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}


.input-button {
	right: 0px;
	margin-top: 2px;
	margin-right: 1px;
	background: #fff;
	position: absolute;
	height: 47.5px;
	width: 48px;
	float: right;
	appearance: none;
	border: 0px;
	border-radius: 0px 13px 0px 13px;	
	outline: none;                            /*Выделение при нажатии*/
	box-shadow: none;
}


.input-button img {
	top: 17px;
	left: 17px;
    transition: transform 0.3s ease;
	width: 16px;
	height: 16px;
	position: absolute;
}

.input-button:hover .input-button-img{
	transform: rotate(90deg);
	transition: transform 0.3s;
}


.content {
	border-top: 1px solid lime;
	border-bottom: 1px solid lime;
	padding: 15px;
	height: 330px;	
	overflow-y:auto;
	background-color: rgba(240,240,240, 0.7);
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.content::-webkit-scrollbar {width:0px;} /*Убрать полосу прокрутки*/



.tools{
	background: black;
	border-radius: 0 0px 15px 15px;	
	height: 40px;
}

.deal div{
	word-break: break-all;
	max-width: 280px;
	top: 12px;
	
}

.deal{
	transition: box-shadow 0.2s;
	display: flex;
	align-items: center;
	color: black;
	padding: 10px;
	border-radius: 15px;
	width: auto: ;
	border: 2.5px solid black;
	margin-bottom: 13px;
}

.deal button:last-child {
	margin-left: auto;
}

.deal button{
	outline: none; /* Для синий ободки */
	border: 0;
	background: transparent;
	width: 26px;
	height: 26px;
	padding: 0;
}

.deal div{
	margin-right: 7px;
	margin-left: 7px;
}

.trush img{
	width: inherit;
	height: inherit;
}

.trush img:hover{
	fill: black;
}

.checked img, .unchecked img{
	width: inherit;
	height: inherit;
}

.count{
	padding-left: 16px;
	padding-top: 5px;
	display: flex;
	color: white;
	background-color: black;
	border: 0;
}

.tools {
	display: flex;
}

.tools button{
	border: none; outline: none;
	border-radius: 8px;
	margin: 13px;
	margin-right: 0;
	margin-top: 5px;
	height: 22px;
	min-width: 50px;
	font-size: 0.8rem;
}
.tools button:last-child{
	margin-left: auto;
	width: 110px;
	margin-right: 13px;
}

.button-off {
	background-color: #fff;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-off:hover {
	background-color: rgba(163,255,163);
}

.button-on {
	background-color: rgba(0,255,123,1);
	box-shadow: 0 0px 7px 4px #fff;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.red-boxshadow{
	box-shadow: 0 0 6px 3px red;
}

.clear-items:hover{
	color: white;
	transition: all 0.3s ease, color 0.1s ;
	background-color: rgb(255,68,62);
}

#wrap{
	display: flex;
}

@media screen and (max-width: 860px) {
	#wrap{
		display: block;
	}
}